:root{
    /* Background of page */
    --eclipse:              #272425;
    --live:                 #554C51;
    /* Titles or important texts */
    --dr-white:             #FAFAFA;
    /* Special messages and elements */
    --butternut-squash:     #FC7703;
    /* Secondary  */
    --butternut-squash-dark:#cf6508;
    /* Secondary stuff */
    --flood:                #657ED4;

    /* for labels */
    --mattherhorn:          #302b2e;
    --mattherhorn-ligther:  #4F464B;
    /* for inputs */
    --ultimate-grey:        #ABABAB;
    /* for a nav */
    --dire-wolf:            #2C2428;
    /* for a course card */
    --dire-wolf-dark:       #241d20;


    /* Borders */
    --border-sm: 4px;

    --max-width-content: 1000px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
}

body{
    display: flex;
    flex-wrap: wrap;
    padding: 8px 16px 72px;
    background-color: var(--eclipse);
}


header, main{
    width: 100%;
    max-width: var(--max-width-content);
    margin: 0 auto;
}

h1, h2, h3{
    font-weight: 900;
    text-align: left;
    color: var(--dr-white);
}

h1{
    font-size: 2.4rem;
    letter-spacing: 2px;
    margin-bottom: 24px;
}

h2{
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 1.8rem;
}

.link{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--butternut-squash);
}

.link--heading{
    font-size: 1.8rem;
}

/* Nav */

nav{
    display: flex;
    align-items: center;
    position: fixed;
    padding: 8px 16px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--dire-wolf-dark);
}

nav>ul{
    flex-grow: 2;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 15px;
    list-style-type: none;
}

.nav__logo{
    flex-grow: 1;
    display: none;
    height: 46px;
}

.nav__logo>img{
    height: 100%;
}

.nav__form{
    display: none;
    flex-grow: 2;
}

.nav__search{
    width: 100%;
    border: 1px solid var(--eclipse);
    border-radius: var(--border-sm);
    padding: 8px 16px;
    font-size: 1.5rem;
    font-family: 'Nunito', cursive;
    color: var(--ultimate-grey);
    background-color: var(--eclipse);
}

.nav__search:hover{
    border: 1px solid var(--mattherhorn-ligther);
}

.nav__search:focus{
    color: var(--dr-white);
    outline: 2px solid var(--butternut-squash);
}

.nav-menu li>a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.nav-menu span{
    display: block;
    font-size: 1.2rem;
    color: var(--ultimate-grey);
}

.nav-menu a.active>span{
    color: var(--butternut-squash);
}
.nav-menu a.active>svg>path{
    stroke: var(--butternut-squash);
}

.heading-section{
    display: flex;
    justify-content: space-between;
    margin: 12px auto;
    width: 100%;
    max-width: var(--max-width-content);
}

.heading-section>h2{
    margin: 0;
}

/* form-search */
.form-search{
    width: 100%;
    max-width: var(--max-width-content);
    margin: 0 auto;
    border-radius: var(--border-sm);
}

.form-search input,
.form-search select,
.form-search label,
.form-search button{
    font-size: 1.5rem;
    font-family: 'Nunito', cursive;
}

.form-search__advanced-btn{
    cursor: pointer;
    display: block;
    margin: 0 0 16px auto;
    border: none;
    color: var(--butternut-squash);
    background-color: var(--eclipse);
}

.form-search__advanced-btn>span{
    padding-right: 10px;
}

.form-search__advanced-btn>img{
    
    width: 15px;
    height: 9px;
}

.form-search__advanced{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form-search__advanced>input,
.form-search__advanced>select{
    display: block;
    padding: 8px 16px;
    width: 100%;
    max-width: 350px;
    margin: 0 auto 16px;
    border-radius: var(--border-sm);
    border: 1px solid var(--dire-wolf-dark);
    color: var(--ultimate-grey);
    background-color: var(--dire-wolf-dark);
}

.form-search__label{
    display: block;
    margin-bottom: 4px;
    color: var(--dr-white);
}

.form-search__advanced .form-search__label--fsize-bg{
    font-size: 1.8rem;
}

.form-search__label--full-width{
    width: 100%;
}

.form-search__input{
    position: relative;
    border-radius: var(--border-sm);
    padding: 8px 35px 8px 16px;
    margin-bottom: 16px;
    background-color: var(--mattherhorn);
}

.form-search__input>img{
    position: absolute;
    top: 4px;
    right: 7px;
}

.form-search__input>input{
    display: block;
    width: 100%;
    border: none;
    font-size: 1.5rem;
    background-color: transparent;
}

.form-search__submit{
    display: block;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 8px 16px;
    border-radius: var(--border-sm);
    border: 1px solid var(--butternut-squash);
    color: var(--dr-white);
    background-color: var(--butternut-squash);
    font-size: 1.5rem;
}

.card-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 24px auto;
    width: 100%;
    max-width: var(--max-width-content);
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 96px;
    max-width: 138px;
    padding-top: 22px;
    border-radius: var(--border-sm);
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--dr-white);
    background: radial-gradient(73.94% 73.94% at 33.33% 26.06%, #657ED4 0%, #374A8A 100%);
}

.card>p{
    padding: 0 8px;
}

.card>footer{
    padding: 4px;
    width: 100%;
    border-end-end-radius: var(--border-sm);
    border-end-start-radius: var(--border-sm);
    color: var(--ultimate-grey);
    font-weight: 500;
    font-size: 1.3rem;
    background-color: var(--dire-wolf-dark);
}

/* Container of courses */
.my-courses__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.my-courses__item{
    position: relative;
    display: block;
    width: 100%;
    border-radius: var(--border-sm);
    text-decoration: none;
    background-color: var(--dire-wolf-dark);
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.4);
}

.my-courses__item>figure{
    display: none;
    width: 100%;
    height: 140px;
    background-color: var(--dire-wolf);
}

.my-courses__item>figure>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.my-courses__item>div{
    padding: 8px 16px;
}

.my-courses__item>div>p{
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.6rem;
    color: var(--dr-white);
}

.my-courses__item>div>div>span{
    display: block;
    font-size: 1.4rem;
    color: var(--live);
}

.my-courses__item>div>div>small,
.my-courses__item>div>small{
    font-size: 1.4rem;
    color: var(--ultimate-grey);
}

.my-courses__item>div>span{
    position: absolute;
    top: -10px;
    right: 10px;
    border-radius: var(--border-sm);
    padding: 2px 4px;
    font-size: 1.4rem;
    color: var(--dr-white);
    background-color: var(--butternut-squash);
}