body{
    padding: 0;
}

nav{
    position: sticky;
    gap: 15px;
    top: 0;
    order: 1;
}

.nav__logo{
    flex-grow: 0;
}

nav>ul{
    flex-grow: 1;
    justify-content: space-evenly;
}

.main-header{
    order: 2;
}

.main-content{
    order: 3;
}

footer{
    order: 4;
}