:root{
    /* Background of page */
    --eclipse:              #272425;
    --live:                 #554C51;
    /* Titles or important texts */
    --dr-white:             #FAFAFA;
    /* Special messages and elements */
    --butternut-squash:     #FC7703;
    /* Secondary  */
    --butternut-squash-dark:#cf6508;
    /* Secondary stuff */
    --flood:                #657ED4;

    /* for labels */
    --mattherhorn:          #302b2e;
    --mattherhorn-ligther:  #4F464B;
    /* for inputs */
    --ultimate-grey:        #ABABAB;
    /* for a nav */
    --dire-wolf:            #2C2428;
    /* for a course card */
    --dire-wolf-dark:       #241d20;
    /* for messages */
    --sooty:                #171214ff;


    /* Borders */
    --border-sm: 4px;

    --max-width-content: 1000px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: var(--eclipse);
}

main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

h1, h2, h3{
    font-weight: 900;
    text-align: left;
    color: var(--dr-white);
}

h1{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 2.6rem;
    letter-spacing: 2px;
}

h2{
    width: 100%;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 2.0rem;
}

h3{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 1.8rem;
}

.form{
    display: block;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 8px 16px;
}

.form__input{
    width: 100%;
    max-width: 400px;
    margin: 0 auto 16px;
    position: relative;
    border: 1px solid var(--mattherhorn);
    border-radius: var(--border-sm);
    color: var(--ultimate-grey);
    background-color: var(--mattherhorn);
}

.form__input:hover{ 
    cursor: text;
    border: 1px solid var(--live);
}
.form__input--focus{
    outline: 2px solid var(--butternut-squash);
}
.form__input--focus>label{
    color: var(--butternut-squash);
}

.form__input--half{
    width: 50%;
}

.form__input>label{
    cursor: text;
    position: absolute;
    top: 11px;
    left: 10px;
    display: block;
    width: fit-content;
    background-color: var(--mattherhorn);   
}

.form__input>input{
    display: block;
    padding: 10px 16px;
    border: none;
    width: 100%;
    font-size: 1.6rem;
    color: var(--carbon);
    background-color: var(--right-black-fogra-39);
}

.form__input>img{
    position: absolute;
    right: 6px;
    top: 5px;
}

.form__input>textarea{
    width: 100%;
    border: none;
    resize: none;
    background-color: var(--right-black-fogra-39);
}

.form__placeholder{
    font-size: 1.4rem;
    width: calc(100% - 10px);
    border-radius: var(--border-sm);
    padding: 0 4px;
    background-color: var(--right-black-fogra-39);
}

.form__placeholder--ultra-gray{
    color: var(--ultimate-grey);
}

.form__placeholder--out{
    animation-name: label-out;
    animation-duration: 0.25s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.form__placeholder--in{
    animation-name: label-in;
    animation-duration: 0.25s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.form__label{
    display: block;
    width: 100%;
    max-width: 400px;
    font-size: 1.5rem;
    margin: 0 auto 8px;
    color: var(--ultimate-grey);
}

.form__input-radios{
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto 16px ;
    color: var(--ultimate-grey);
}

.form__radio{
    position: relative;
}

.form__radio>div{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    padding: 3px;
    border: 2px solid var(--ultimate-grey);
    border-radius: 50%;

    background-color: transparent;
}

.form__radio>div>span{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;

    transition: background-color 0.25s ease;
}

.form__radio>input{
    visibility: hidden;
}

.form__radio>span{
    margin-left: 10px;
}

.form__radio>input:checked ~ div>span{
    background-color: var(--butternut-squash);
    opacity: 1;
}
.form__radio>input:checked ~ div{
    border: 2px solid var(--butternut-squash);
}

.btn{
    display: block;
    padding: 12px 64px;
    margin: 24px auto;
    border: 1px solid var(--butternut-squash);
    border-radius: var(--border-sm);
    font-size: 1.5rem;
    color: var(--dr-white);
    background-color: var(--butternut-squash);
}